
body {

    background-color: rgb(228, 228, 213);
    font-family: 'Open Sans', Verdana, Sans-Serif;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 300vh;
}

.main-content {

    flex: 1;
}

.logo-big {

    width: 300px;
    position: relative;
    left: 150px;
    top: -60px;
}



header {
    
    background-color: black;
    height: 1.5px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 40px;
    
}

.middle-menu-header {
    text-align: center;
    margin-top: 23px;
}

.middle-menu-header a {

    margin: 0 10px;
    color: black;
    text-decoration: none;
    font-weight: 100;
    font-size: 18px;
    padding: 18px;
}

.middle-menu-header a:hover {

    text-decoration: underline;
}

.middle-menu-header a:active {

    color: #333;
}

.frontpage-coverpicture {
    position: relative; 
    left: 50%;
    top: 380px;
    width: 800px;
    transform: translate(-50%, -50%);
}

.mammoth-text-container {
    position: relative; 
    left: 50%;
    top: 105px;
    width: 800px;
    transform: translate(-50%, -50%);
}

.mammoth-text {
    font-size: 18px;
    font-weight: 100;
}

.mammoth-text a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.kidandboard-picture {

    position: relative; 
    left: 50%;
    top: 270px;
    width: 800px;
    transform: translate(-50%, -50%);

}

.kidandboard-text-container {
    position: relative; 
    left: 50%;
    top: 160px;
    width: 800px;
    transform: translate(-50%, -50%);
}

.kidandboard-text {
    font-size: 18px;
    font-weight: 100;
}

.kidandboard-text a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.footer-line {
    background-color: black;
    height: 1.5px;
    width: 100%;
}

.nightdude-desktop-picture {

    position: relative; 
    left: 200px;
    top: 100px;
    width: 400px;
    transform: translate(-50%, -50%);
    margin: 0;

}

.nightdude-desktop-text-container {
    margin: 0;
    position: relative;
    left: 420px;
    top: 160px;
}

.nightdude-text {

    font-size: 18px;
    font-weight: 100;
}

.nightdude-text a {

    font-weight:bold;
    text-decoration: none;
    color: black;
    
}

.footer {
    background-color: rgb(228, 228, 213);
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: auto;
}



.footer-text-container {
    
    display: flex;
    justify-content: space-between;
}

.footer-text-left {
position: relative;
left: 400px;

}

.footer-text-middle {
    position: relative;
    right: 60px;

} 

.footer-text-right {
    position: relative;
    right: 400px;
    
}

.footer-text-left,
.footer-text-middle,
.footer-text-right {

    font-size: 18px;

}


h1 {
    
    

}

h2 {

    
    
}

h3 {

    

}