
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {

    background-color: rgb(228, 228, 213);
    font-family: 'Roboto', Verdana, Sans-Serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 350vh;
    overflow-x: hidden;
}

.logo-big {

    width: 300px;
    position: relative;
    left: 150px;
    bottom: 70px;
    
}

.logo-small {
    position: relative;
    width: 32px;
    left: 40px;
    bottom: 28px;
}

.headerline {

    background-color: black;
    height: 1px;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 10px;
    

}


.topnav,
 #menu-checkbox {
    display: none;
    z-index: 1; 

}


.topnav a {

    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 40px;
    font-size: 20px;
    
}

.topnav {

    position: absolute;
    left: 65%;
    top: 70px;
    padding: 0 20px;
    background-color:rgb(228, 228, 213);

    
}

.topnav a:hover {

    text-decoration: underline;
}

.hamburger-icon {

    position: relative;
    left: 80%;
    top: 38px;
    font-size: 25px;
    
}


#menu-checkbox:checked ~ .topnav {
    
    display: block; 
}

.frontpage-coverpicture {
    position: relative; 
    left: 50%;
    top: 380px;
    width: 800px;
    transform: translate(-50%, -50%);
}

.mammoth-text-container {

    
    max-width: 800px; 
    margin: 30px auto 0;
    padding: 0 20px; 

    
}

.mammoth-text {
    font-size: 18px;
    font-weight: 100;
}

.mammoth-text a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.kidandboard-picture {

    position: relative; 
    left: 50%;
    top: 190px;
    width: 800px;
    transform: translate(-50%, -50%);
    

}

.kidandboard-header {

    max-width: 800px; 
    margin: 100px auto 0;
    padding: 0 20px;
    font-size: 25px;
    font-weight: 400;
}

.kidandboard-text-container {

    max-width: 800px; 
    margin: 10px auto 0;
    padding: 0 20px; 
}

.kidandboard-text {
    font-size: 18px;
    font-weight: 100;
}

.kidandboard-text a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.footer-line {
    background-color: black;
    height: 1.5px;
    width: 100%;
}

.nightdude-header {

    font-size: 25px;
    font-weight: 400;
}

.nightdude-picture {
    
    position: relative;
    width: 400px;
    margin: 0 auto;
    display: block;
    top: 115px;
    right: 195px;

}

.nightdude-text-container {
    
    position: relative;
    left: 430px;
    bottom: 305px;
    max-width: 800px; 
    margin: 100px auto 0;
    
}

.nightdude-text-container-2 {

    max-width: 450px; 
    margin: 30px auto 0;
    padding: 0 20px; 
    display: none;
}

.nightdude-header2 {
    font-weight: 400;
    font-size: 22px;
}



.nightdude-text {

    font-size: 18px;
    font-weight: 100;
}

.nightdude-text a {

    font-weight:bold;
    text-decoration: none;
    color: black;
    
}

.fancymachine-picture {

    position: relative; 
    left: 50%;
    top: 50px;
    width: 800px;
    transform: translate(-50%, -50%);
    

}


.fancymachine-header {

    position: relative;
    max-width: 800px; 
    margin: 100px auto 0;
    padding: 0 20px;
    font-size: 25px;
    font-weight: 400;
    bottom: 235px;

}


.fancymachine-text-container {

    position: relative;
    max-width: 800px; 
    margin: 10px auto 0;
    padding: 0 20px; 
    bottom: 220px;

}

.fancymachine-text {

    font-size: 18px;
    font-weight: 100;

}

.fancymachine-text a {

    font-weight:bold;
    text-decoration: none;
    color: black;
    
}

.volunteer-fp-header {

    position: relative;
    max-width: 800px; 
    margin: 100px auto 0;
    padding: 0 20px;
    font-size: 25px;
    font-weight: 400;
    bottom: 220px;
}

.volunteer-fp-text-container-1 {

    max-width: 800px; 
    margin: 10px auto 0;
    padding: 0 20px; 
    position: relative;
    bottom: 35px;

}



.volunteer-fp-picture {

    position: relative; 
    left: 50%;
    top: 30px;
    width: 800px;
    transform: translate(-50%, -50%);
    

}


.volunteer-fp-text-container {

    position: relative;
    max-width: 800px; 
    margin: 10px auto 0;
    padding: 0 20px; 
    top: 75px;
    
    
}

.volunteer-fp-text,
.volunteer-fp-text-2 {
    font-size: 18px;
    font-weight: 100;
}

.volunteer-fp-text-2 a {

    font-weight:bold;
    text-decoration: none;
    color: black;
    
}

.volunteer-fp-text {

    position: relative;
    bottom: 525px;
}

.volunteer-fp-text-2 {

    position: relative;
    bottom: 300px;
    
}


.footer {
    background-color: rgb(228, 228, 213);
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: auto;
}

.footer-text-container {
    
    display: flex;
    justify-content: space-between;
}

.footer-text-left {

position: relative;
left: 200px;

}

.footer-text-middle {

    text-align: center;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);

} 

.footer-text-right {
    position: relative;
    right: 200px;
    
}

.footer-text-right a {
    
    text-decoration: none;
    color: black;
    
}

.footer-text-right a:hover {

    text-decoration: underline;
}

.footer-text-left,
.footer-text-middle,
.footer-text-right {

    font-size: 18px;
    margin-bottom: 50px;

}


.footer-text-middle-mobile a {

    text-decoration: none;
    color: black;

}


@media (max-width: 1297px) {

    .footer-text-left,
    .footer-text-middle,
    .footer-text-right {
    
        font-size: 12px;
        margin-bottom: 30px;
    
    }

    .footer-text-left {
        position: relative;
        left: 30px;
    }

    .footer-text-right {
        position: relative;
        right: 30px;
    }

}

@media (max-width: 900px) {

    .topnav a {

        display: block;
        color: black;
        text-decoration: none;
        padding: 10px 15px;
        font-size: 18px;
        
        
        
    }

    .frontpage-coverpicture {

        width: 450px;
        top: 225px;

    }
    

    .mammoth-text-container,
    .kidandboard-text-container,
    .nightdude-text-container-2,
    .kidandboard-header,
    .fancymachine-text-container,
    .volunteer-fp-text,
    .volunteer-fp-text-2,
    .volunteer-fp-header {

        max-width: 450px; 
        margin: 30px auto 0;

    }

    
    .kidandboard-header {

     font-size: 22px;
     margin-top: 50px;
     margin-bottom: -40px;
     

    }

    .kidandboard-picture {

        width: 450px;
        top: 150px;
    }

    .nightdude-text-container{

        display: none;
    }


    .nightdude-text-container-2 {

        display: block;
        margin-top: 60px;
        text-align: center;
    }

    .nightdude-header2 {
    
        display: block;
        max-width: 450px; 
        margin: 30px auto 0;
    }

    .nightdude-text-2 a {

        text-decoration: none;
        color: black;
        font-weight: bold;


    }

    .nightdude-text-2 {

        font-weight: 100;
    }

    .nightdude-picture {

        position: relative; 
        left: 50%;
        top: 270px;
        width: 450px;
        transform: translate(-50%, -50%);
        margin: 0px;
    }

    .kidandboard-text-container {
      
        margin-top: 58px;

    }

    .fancymachine-header {

        font-size: 22px;
   
       }

    .fancymachine-picture {

        width: 450px;
        top: 205px;
    }

    .fancymachine-header {

        max-width: 450px; 
        margin: 30px auto 0;
        top: 38px;
        
    }

    .fancymachine-text-container {

        top: 40px;
   
    }

    .volunteer-fp-header {

        font-size: 22px;
        top: 100px;
    }

    .volunteer-fp-text-container-1 {

        position: relative;
        top: 410px;

    }

    .volunteer-fp-text-container {

        position: relative;
        top: 360px;

    }

    .volunteer-fp-picture {

        width: 450px;
        top: 290px;

    }






}

@media (min-width: 625px) {

    .logo-small {

    display: none;
      
    }

    .footer-text-middle-mobile {

    display: none;

    }

    .topnav {
        
        position: static;
        display: block;
        text-align: center;
        
    }

    .topnav a {

        display: inline-block
    
    }

    .hamburger-icon {

        display: none;
    }

}

@media (max-width: 625px) {


    .mammoth-text-container,
    .kidandboard-text-container
    .kidandboard-text,
    .nightdude-text-container,
    .nightdude-text-container-2,
    .fancymachine-text-container,
    .fancymachine-text,
    .volunteer-fp-text-container,
    .volunteer-fp-text-container-1 {

        text-align: center;

    }
    
    .kidandboard-header,
    .nightdude-header,
    .fancymachine-header,
    .volunteer-fp-header {

        text-align: center;

    }

    .nightdude-header {

        text-align: center;
    }

    .fancymachine-header {

        text-align: center;
    }
    
    .volunteer-fp-header {

        font-size: 22px;
        top: 80px;
    }


    .volunteer-fp-text-container-1 {

        position: relative;
        top: 390px;

    }



    .volunteer-fp-text-container {

        position: relative;
        top: 385px;

    }



    .logo-big {

        display: none;
        
    }

    .headerline {
        display: none;
    }

    .footer-text-left,
    .footer-text-middle,
    .footer-text-right {
    
        display: none;
        
    }

}

@media (max-width: 378px) {

    .volunteer-fp-header {

        font-size: 22px;
        top: 80px;
    }


    .volunteer-fp-text-container-1 {

        position: relative;
        top: 390px;

    }

    .volunteer-fp-text-container {

        position: relative;
        top: 340px;

    }


}
